@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

body {
  background-color: rgb(244, 243, 246);
}

#app {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow: hidden;
}
